<div class="d-flex justify-content-center align-items-center mt-5">
	<form action="">
		<table class="table table-striped w-100">
      <thead>
        <tr>
          <th scope="col" class="w-50">Field</th>
          <th scope="col" class="w-75">Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Task Id:</td>
          <td>{{ task.id }}</td>
        </tr>
				<tr>
          <td>Title:</td>
          <td><input type="text" ng-model="task.title"></td>
        </tr>
				<tr>
          <td>Complete:</td>
          <td><input type="checkbox" ng-model="complete"></td>
        </tr>
				<tr>
          <td>Created At:</td>
          <td>{{ task.created_at }}</td>
        </tr>
        <tr>
          <td><a href="/#/list"><input type="button" value="Back"/></a></td>
          <td class="d-flex justify-content-center align-items-center"><input type="button" ng-click="updateTask()" value="Update"/></td>
        </tr>
      </tbody>
    </table>
		<!-- <div class="d-flex justify-content-around">
			<a href="/#/list"><input type="button" value="Back"/></a>
			<input type="button" ng-click="updateTask()" value="Update"/>
		</div> -->
	</form>
</div>